@font-face {
  font-family: 'BebasNeue';
  src: url('assets/BebasNeue-Regular.woff2') format('woff2'),
    url('assets/BebasNeue-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Mackay';
  src: url('assets/Rene\ Bieder\ -\ Mackay\ DEMO\ Bold.woff2') format('woff2');
}

.bg-dark {
  background-color: #080b0e !important;

}

.container {
  max-width: 960px;
}

.icon-link>.bi {
  width: .75em;
  height: .75em;
}

.title {
  opacity: 0;
  /* Inicialmente invisível */
  animation: fadeIn 1s ease-in-out 1.5s forwards;
  /* Inicia após 2s */
  margin-top: -110px;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.title1 {
  color: white;
  font-size: 125px;
  margin-top: -890px;
  margin-left: 300px;
  z-index: 2;
  display: block;
  font-family: BebasNeue;
  position: absolute;
  letter-spacing: 4px;
  color: transparent;
  /* Deixa o interior da letra invisível */
  -webkit-text-stroke: 1px rgb(255, 151, 91);
  /* Adiciona a borda preta */
}

.date {
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 45px;
  margin-top: -500px;
  margin-left: 300px;
  z-index: 2;
  display: block;
  font-family: Mackay;
  font-weight: bold;
}

.event {
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 27px;
  margin-top: -450px;
  margin-left: 300px;
  z-index: 2;
  display: block;
  font-family: Mackay;
  font-weight: bold;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.playertrailer {
  width: 653px;
  height: 365px;
  position: absolute;
  z-index: 2;
  margin-top: -575px;
  margin-left: 215px;
}

.buttonassistir {
  position: absolute;
  margin-top: -264px;
  margin-left: 415px;

}

.buttonassistir button {
  width: 349px;
  height: 90px;
  border-radius: 10px 10px;
  font-size: 50px;
  font-weight: bold;
  font-family: BebasNeue;
  letter-spacing: 3px;
  color: white;
  background-color: #162d44;
  margin-top: 4px;
  margin-left: 4px;
  border: 3px solid #ff9c54;

}

.buttonassistir p {
  font-size: 45px;
  margin-top: 10px;
}

.buttonassistir button:hover {
  transition: 0.3s;
  color: rgb(255, 255, 255);
  background-color: #294a6c;
}

.animated-border {
  position: relative;
  width: 358px;
  height: 98px;
  border-radius: 12px;
  background: repeating-conic-gradient(from var(--a), #ffffff 0%,
      transparent 5%, transparent 40%, #ffffff 50%);
  animation: animate 4s linear infinite;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }

  100% {
    --a: 360deg;
  }
}


.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal>* {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}


@media (max-width: 1282px) {
  .arrow {
    display: none;
  }
}

/*---------------------------------------------*/


@media (min-width: 2000px) {

  .title {
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */
    margin-top: -180px;
  }


  .title1 {
    color: rgb(255, 255, 255);
    font-size: 125px;
    margin-top: -890px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 4px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 45px;
    margin-top: -500px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 27px;
    margin-top: -450px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: 68px;
  }

  .buttonassistir {
    position: absolute;
    margin-top: -264px;
    margin-left: 460px;

  }

  .buttonassistir button {
    width: 349px;
    height: 103px;
    border-radius: 10px 10px;
    font-size: 60px;
    font-weight: bold;
    font-family: BebasNeue;
    letter-spacing: 3px;
    color: white;
    background-color: #162d44;

  }

  .buttonassistir button:hover {
    transition: 0.3s;
    color: rgb(255, 255, 255);
    background-color: #294a6c;
  }




}

@media (min-width: 2200px) {

  .title {
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */
    margin-top: -280px;
  }


  .title1 {
    color: rgb(255, 255, 255);
    font-size: 125px;
    margin-top: -890px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 4px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 45px;
    margin-top: -500px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 27px;
    margin-top: -450px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: 167px;
  }

  .playertrailer {
    width: 816px;
    height: 456px;
    position: absolute;
    z-index: 2;
    margin-top: -718px;
    margin-left: 270px;
  }

  .buttonassistir {
    position: absolute;
    margin-top: -264px;
    margin-left: 515px;

  }

}

@media (min-width: 2400px) {

  .title {
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */
    margin-top: -350px;
  }


  .title1 {
    color: rgb(255, 255, 255);
    font-size: 125px;
    margin-top: -890px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 4px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 45px;
    margin-top: -500px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 27px;
    margin-top: -450px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: 236px;
  }

  .playertrailer {
    width: 868px;
    height: 484px;
    position: absolute;
    z-index: 2;
    margin-top: -766px;
    margin-left: 290px;
  }

  .buttonassistir {
    position: absolute;
    margin-top: -264px;
    margin-left: 550px;

  }
}

@media (min-width: 2600px) {

  .title {
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */
    margin-top: -450px;
  }


  .title1 {
    color: rgb(255, 255, 255);
    font-size: 125px;
    margin-top: -890px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 4px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 45px;
    margin-top: -500px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 27px;
    margin-top: -450px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: 334px;
  }

  .playertrailer {
    width: 975px;
    height: 546px;
    position: absolute;
    z-index: 2;
    margin-top: -860px;
    margin-left: 325px;
  }

  .buttonassistir {
    position: absolute;
    margin-top: -264px;
    margin-left: 620px;

  }
}


@media (min-width: 2900px) {

  .title {
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */
    margin-top: -890px;
  }


  .title1 {
    color: rgb(255, 255, 255);
    font-size: 125px;
    margin-top: -890px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 4px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 45px;
    margin-top: -500px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 27px;
    margin-top: -450px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: 759px;
  }

  .playertrailer {
    width: 1310px;
    height: 725px;
    position: absolute;
    z-index: 2;
    margin-top: -1150px;
    margin-left: 430px;
  }

  .buttonassistir {
    position: absolute;
    margin-top: -264px;
    margin-left: 830px;

  }
}

@media (min-width: 3800px) {

  .title {
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */
    margin-top: -1600px;
  }


  .title1 {
    color: rgb(255, 255, 255);
    font-size: 125px;
    margin-top: -890px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 4px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 45px;
    margin-top: -500px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 27px;
    margin-top: -450px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: 1450px;
  }

  .playertrailer {
    width: 1950px;
    height: 1090px;
    position: absolute;
    z-index: 2;
    margin-top: -1726px;
    margin-left: 650px;
  }

  .buttonassistir {
    position: absolute;
    margin-top: -264px;
    margin-left: 1230px;

  }
}

@media (min-width: 5800px) {

  .title {
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */
    margin-top: -2200px;
  }


  .title1 {
    color: rgb(255, 255, 255);
    font-size: 125px;
    margin-top: -890px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 4px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 45px;
    margin-top: -500px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 27px;
    margin-top: -450px;
    margin-left: 340px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: 2039px;
  }

  .playertrailer {
    width: 2600px;
    height: 1446px;
    position: absolute;
    z-index: 2;
    margin-top: -2300px;
    margin-left: 860px;
  }

  .buttonassistir {
    position: absolute;
    margin-top: -264px;
    margin-left: 1640px;

  }


}


/*100%*/


@media (max-width: 1860px) {
  .title {
    margin-top: -55px;
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */
  }

  .title1 {
    color: white;
    font-size: 110px;
    margin-top: -858px;
    margin-left: 234px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 3px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .title1 p {
    margin: 35px;
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 40px;
    margin-top: -500px;
    margin-left: 270px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 22px;
    margin-top: -450px;
    margin-left: 270px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: -110px;
  }

  .playertrailer {
    width: 595px;
    height: 330px;
    position: absolute;
    z-index: 2;
    margin-top: -523px;
    margin-left: 195px;
  }

  .buttonassistir button {
    width: 349px;
    height: 90px;
    border-radius: 10px 10px;
    font-size: 60px;
    font-weight: bold;
    font-family: BebasNeue;
    letter-spacing: 3px;
    color: white;
    background-color: #162d44;

  }


}


@media (max-width: 1550px) {
  .title {
    margin-top: 30px;
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */
  }

  .title1 {
    color: white;
    font-size: 100px;
    margin-top: -858px;
    margin-left: 190px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 3px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 40px;
    margin-top: -530px;
    margin-left: 220px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 22px;
    margin-top: -480px;
    margin-left: 220px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: -140px;
  }

  .playertrailer {
    width: 523px;
    height: 294px;
    position: absolute;
    z-index: 2;
    margin-top: -461px;
    margin-left: 173px;
  }

  .buttonassistir button {
    width: 349px;
    height: 90px;
    border-radius: 10px 10px;
    font-size: 60px;
    font-weight: bold;
    font-family: BebasNeue;
    letter-spacing: 3px;
    color: white;
    background-color: #162d44;

  }
}


@media (max-width: 1450px) {
  .title {
    margin-top: 140px;
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */
  }

  .title1 {
    color: white;
    font-size: 100px;
    margin-top: -858px;
    margin-left: 135px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 3px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 40px;
    margin-top: -530px;
    margin-left: 170px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 22px;
    margin-top: -480px;
    margin-left: 170px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: -250px;
  }

  .playertrailer {
    width: 436px;
    height: 244px;
    position: absolute;
    z-index: 2;
    margin-top: -385px;
    margin-left: 143px;
  }

  .buttonassistir button {
    width: 349px;
    height: 90px;
    border-radius: 10px 10px;
    font-size: 60px;
    font-weight: bold;
    font-family: BebasNeue;
    letter-spacing: 3px;
    color: white;
    background-color: #162d44;

  }
}

@media (max-height: 768px) {
  .title {
    margin-top: 120px;
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */
  }

  .title1 {
    color: white;
    font-size: 100px;
    margin-top: -858px;
    margin-left: 135px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 3px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 40px;
    margin-top: -530px;
    margin-left: 170px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 22px;
    margin-top: -480px;
    margin-left: 170px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: -216px;
  }

  .playertrailer {
    width: 476px;
    height: 264px;
    position: absolute;
    z-index: 2;
    margin-top: -420px;
    margin-left: 160px;
  }

  .buttonassistir {
    position: absolute;
    margin-top: -220px;
    margin-left: 300px;

  }

  .buttonassistir button {
    width: 349px;
    height: 90px;
    border-radius: 10px 10px;
    font-size: 60px;
    font-weight: bold;
    font-family: BebasNeue;
    letter-spacing: 3px;
    color: white;
    background-color: #162d44;

  }

  .buttonassistir button:hover {
    transition: 0.3s;
    color: rgb(255, 255, 255);
    background-color: #294a6c;
  }



}

@media (max-width: 1200px) {
  .title {
    margin-top: 220px;
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */

  }

  .title1 {
    color: white;
    font-size: 100px;
    margin-top: -858px;
    margin-left: 100px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 3px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 40px;
    margin-top: -530px;
    margin-left: 140px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 22px;
    margin-top: -480px;
    margin-left: 140px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: -330px;
  }

  .playertrailer {
    width: 374px;
    height: 210px;
    position: absolute;
    z-index: 2;
    margin-top: -330px;
    margin-left: 123px;
  }

  .buttonassistir button {
    width: 349px;
    height: 90px;
    border-radius: 10px 10px;
    font-size: 60px;
    font-weight: bold;
    font-family: BebasNeue;
    letter-spacing: 3px;
    color: white;
    background-color: #162d44;

  }

}

@media (max-width: 900px) {
  .title {
    margin-top: 280px;
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */

  }

  .title1 {
    color: white;
    font-size: 100px;
    margin-top: -858px;
    margin-left: 68px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 3px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 40px;
    margin-top: -530px;
    margin-left: 100px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 22px;
    margin-top: -480px;
    margin-left: 100px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    margin-top: -390px;
  }

  .playertrailer {
    width: 327px;
    height: 182px;
    position: absolute;
    z-index: 2;
    margin-top: -287px;
    margin-left: 108px;
  }

  .buttonassistir button {
    width: 349px;
    height: 90px;
    border-radius: 10px 10px;
    font-size: 60px;
    font-weight: bold;
    font-family: BebasNeue;
    letter-spacing: 3px;
    color: white;
    background-color: #162d44;

  }

}

@media (max-width: 767px) {
  .title {
    margin-top: 8px;
    opacity: 0;
    /* Inicialmente invisível */
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    /* Inicia após 2s */

  }

  .title1 {
    color: white;
    font-size: 100px;
    margin-top: -858px;
    margin-left: 30px;
    z-index: 2;
    display: block;
    font-family: BebasNeue;
    position: absolute;
    letter-spacing: 3px;
    color: transparent;
    /* Deixa o interior da letra invisível */
    -webkit-text-stroke: 1px rgb(255, 151, 91);
    /* Adiciona a borda preta */
  }

  .date {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 40px;
    margin-top: -530px;
    margin-left: 65px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .event {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 22px;
    margin-top: -480px;
    margin-left: 65px;
    z-index: 2;
    display: block;
    font-family: Mackay;
    font-weight: bold;
  }

  .trailer {
    display: none;
  }

  .trailermobile {
    display: flex !important;
    margin-top: -102px;
  }

  .trailermobile {
    margin-top: -55px;
  }

  .buttonassistir button {
    width: 349px;
    height: 90px;
    border-radius: 10px 10px;
    font-size: 60px;
    font-weight: bold;
    font-family: BebasNeue;
    letter-spacing: 3px;
    color: white;
    background-color: #162d44;

  }
}